/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add! */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
}


header {
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align:center;
  padding: 5px;
  display: block;
  width: 790px;
}

nav {
  line-height:;
  background-color:;
  width:225px;
  font-family: sans-serif;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

nav ul {
  list-style-type: none;
}

a {
    color: ;
}

img {
    width: 75%;
    height:auto;
}

p1 {
    text-align: justify;
}

aside {
  float: right;
  width: 125px;
  display: inline-block;
  background-color:black;
  font-family: sans-serif;
  vertical-align: right;
  color: white;
  font-size: 18px;
  padding: 18px;
  border-color: currentColor;
}

aside ul {
  list-style: none;
  padding: 0px;
}

section {
  width: 516px;
  display: inline-block;
}

.image p1 {
  text-align: right;
}

footer {
  width: 790px;
  background-color:;
  text-align:;
  padding:5px;
  display: block;
}
